<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="Leave and License Agreement Generator" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="Abhimanyu" 
           UpgradeCode="12345678-1234-5678-1234-123456789012">
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="MyAppInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="Abhimanyu">
          <Directory Id="INSTALLFOLDER" Name="Leave and License Agreement Generator" />
        </Directory>
      </Directory>
      
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Leave and License Agreement Generator"/>
      </Directory>
      
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Main application executable -->
      <Component Id="MainExecutable" Guid="{B36893E8-B606-4FA2-82FE-FE8318EBB556}">
        <File Id="PeoplePdfExe" 
              Source="$(var.people-pdf.TargetPath)" 
              KeyPath="yes" 
              Checksum="yes" />
        
        <!-- Desktop shortcut -->
        <Shortcut Id="DesktopShortcut"
                  Directory="DesktopFolder"
                  Name="Leave and License Generator"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon"
                  IconIndex="0" />
        
        <!-- Start menu shortcut -->
        <Shortcut Id="StartMenuShortcut"
                  Directory="ApplicationProgramsFolder"
                  Name="Leave and License Generator"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon"
                  IconIndex="0" />
      </Component>
      
      <!-- Configuration files, if any -->
      <Component Id="ConfigFiles" Guid="{B36893E8-B606-4FA2-82FE-FE8318EBB556}">
        <File Id="AppConfig" 
              Source="$(var.people-pdf.TargetDir)people-pdf.exe.config" 
              KeyPath="yes" />
      </Component>
      
      <!-- Remove start menu folder on uninstall -->
      <Component Id="StartMenuFolder" Directory="ApplicationProgramsFolder" Guid="{B36893E8-B606-4FA2-82FE-FE8318EBB556}">
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Abhimanyu\Leave and License Agreement Generator" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
  
  <!-- Optional: Add application icon -->
  <Fragment>
    <Icon Id="AppIcon" SourceFile="$(var.people-pdf.TargetDir)app.ico" />
  </Fragment>
</Wix>